<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세보기</title>

</head>
<body>
게시물 보기
<div class="container">
    <div>
        글 번호:
        <span th:text="${oneBoard.bno}">번호</span>
    </div>
    <div>
        글 제목:
        <span th:text="${oneBoard.title}">번호</span>
    </div>
    <div>
        글 내용:
        <span th:text="${oneBoard.content}">번호</span>
    </div>
    <div>
        유저 아이디:
        <span th:text="${oneBoard.userid}">번호</span>
    </div>

</div>

</body>
</html>

