<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시물 조회</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시물 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>

            <!--            추가-->
            <tbody>
            <tr th:each="list : ${lists}">
                <td><a href="post.html" th:href="@{/boards/posts/{bno} (bno=${list.bno})}" th:text="${list.bno}">bno</a></td>
                <td><a href="item.html" th:href="@{|/boards/posts/${list.bno}|}" th:text="${list.title}">title</a></td>
                <td th:text="${list.userid}">userid</td>
            </tr>
            </tbody>

            <!--            추가-->

        </table>
    </div>

    <div><a th:href="@{/posts/{url}(url=${urlTest})}"> url 테스트</a></div>

    <br>
    <div>
        <button onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/boards/posts/newpost}'|" type="button">글 추가하기</button>
    </div>

    <div></div>

</div>



</body>
</html>