<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="tblBoard" value="test_board" />
        <property name="colBno" value="bno" />
        <property name="colTitle" value="title" />
        <property name="colContent" value="content" />
        <property name="colUserid" value="userid" />
    </properties>

    <typeAliases>
        <package name="hello.board.dao" />
    </typeAliases>
</configuration>